<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="UTF-8">
    <title> Report Item </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/report_item.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

        
    <div class="right-side">
        <div class="topic-text"><b><u>Reporting an Item</u></b></div>
        <br>
        <p><b> Please provide the correct details of the Lost Item so it can be reunited with it's respective Owner.</b></p>
        <form method="POST" enctype="multipart/form-data">
            <div class="input-box">
                <label for="input-box"><b>Enter the item name* </b></label>
                <input type="text" name="title" placeholder="Item name" required>
            </div>
            <br>
            <div class = "drop-down-box">
                <label for="drop-down-box"><b>Select Category of item* </b></label>
                <select name="Categories">
                    <option value="Documents">Documents</option>
                    <option value="Gadgets">Gadgets</option>
                    <option value="Stationary">Stationary</option>
                    <option value="Jewelery">Jewelery</option>
                    <option value="Bags/Wallets">Bags/Wallets</option>
                    <option value="Others" selected>Others</option>
                </select>
            </div>
            <div class="input-box message-box">
                <label for="textarea"><b> Enter a short description of the item* </b></label>
                <textarea name="description" placeholder="Description"
                    required></textarea>
            </div>
            <br>
            <div class="input-box">
                <label for="text"><b> Enter the location where you found this </b></label>
                <input type="text" name="location" placeholder="Location">
            </div>   
            <br>        
            <div class="input-box">
                <label for="datetime"><b> Provide the accurate date & time </b></label>
                <br>
                <input type="datetime-local" id="datetime" name="datetime">
            </div>
            <br>
            <label for="fileImg"><b> Upload an image </b></label>
            <input id="fileImg" class="filechng" type="file" placeholder="Choose a file" name="fileImg">
            <input
                style="color: #fff; font-size: 18px; outline: none; width: 150px; border: none; padding: 8px 16px; border-radius: 6px; background: #3e2093; cursor: pointer; transition: all 0.3s ease !important"
                type="submit" value="Upload Now">
            
        </form>
    </div>
</body>
</html>